.btn-submit {
  width: 55vh;
  border-radius: 10px;
  background-color: var(--color-btn-submit-variant-2);
  color: var(--color-text-light-variant-1);
}

.btn-submit:hover {
  background-color: var(--color-btn-submit-variant-1);
  transition: 0.5s ease ;
}

.card {
  background-color: var(--color-card-box-variant-1);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}