/* universal selector css */
* {
  box-sizing: border-box;
  margin: 0;  
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { 
  font-family: 'fauna one', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: var(--color-primary-variant-2);
}


/* all Imported */

/* font Imported */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Roboto:wght@400;700&display=swap');

/* component css Imported */
@import url('./components/component.css');
@import url('./features/features.css');

/* Color palette */
:root {
  --color-primary: #DDD0C8;
  --color-primary-variant-1: #c3b091;
  --color-primary-variant-2: #e2d3c4;
  --color-primary-variant-3: #f3eded;

  --color-secondary: #323232;
  --color-secondary-variant-1: #505050;
  --color-secondary-variant-2: #636363;
  --color-secondary-variant-3: #8A8A8A;

  --color-btn-submit-variant-1: #D3971C;
  --color-btn-submit-variant-2: #D6AD27;
  --color-btn-submit-variant-3: #D8C330;

  --color-menu-variant-1: #BD9616;
  --color-menu-variant-2: #D2AC1A;
  --color-menu-variant-3: #E6C120;

  --color-text-dark-variant-1: #211D0F;
  --color-text-dark-variant-2: #423D2F;
  --color-text-dark-variant-3: #615C4D;

  --color-text-light-variant-1: #FFF;
  --color-text-light-variant-2: #F0F0F0;
  --color-text-light-variant-3: #C2C2C2;

  --color-card-box-variant-1: #f8f8f8;
  --color-card-box-variant-2: #e1e1e1;
  --color-card-box-variant-3: #d1d1d1;
}




.content {
 min-height: 100vh;
}

