/* universal selector css */
* {
  box-sizing: border-box;
  margin: 0;  
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { 
  font-family: 'fauna one', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: var(--color-primary-variant-1);
}


/* all Imported */

/* font Imported */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Roboto:wght@400;700&display=swap');

/* component css Imported */
@import url('./components/component.css');
@import url('./features/features.css');

/* Color palette */
:root {
  --color-primary-variant-1: #f9f9f5;
  --color-primary-variant-2: #f3f3ef;
  --color-primary-variant-3: #eaeae6;

  --color-secondary-variant-1: #747766;
  --color-secondary-variant-2: #606352;
  --color-secondary-variant-3: #414434;

  --color-white-text: #fff;
  --color-black-text: #000;
  --color-grey-text: #333;
}

/* Dark Theme */
[data-theme="dark"] {
  --color-primary-variant-1: #333;
  --color-primary-variant-2: #414434;
  --color-primary-variant-3: #606352;

  --color-secondary-variant-1: #eaeae6;
  --color-secondary-variant-2: #f3f3ef;
  --color-secondary-variant-3: #f9f9f5;

  --color-white-text: #ffffff;
  --color-black-text: #000000;
  --color-grey-text: #fff;
}


.content {
 min-height: 100vh;
}

