.jumbotron {
  height: 200px;
  margin-top: 50px;
  background-color: var(--color-secondary-variant-1);

  @media screen and (max-width: 1300px) {
  height: 180px;
  }
}

.jumbotron-container {
  width: 1700px;  
  height: 180px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  @media screen and (max-width: 1300px) {
    height: 160px;
  }
  
}

.brand-logo {
  width: 125px;
  background-color: transparent;  
  float: none;
  height: 100%;
  margin: 0 0.25%;
  display: inline-block;

  @media screen and (max-width: 1300px) {
    width: 100px;
  }
}

.brand-logo-img {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-logo-img-sm {
  margin-top: 35px;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.brand-logo-img-xl {
  margin-top: 0px;
  width: 60%;
  height: 100%;
  object-fit: cover;
}

  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-secondary-variant-1); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-variant-3);
  }
