.jumbotron {
  height: 170px;
  margin-top: 50px;
  background-color: var(--color-secondary-variant-1)
}

.logo-jumbotron {
  width: 73px;
  height: 40px;
}

.logo-jumbotron-lg {
  width: 73px;
  height: 40px;
}

.logo-jumbotron-sm {
  width: 38px;
  height: 40px;
}

.jumbotron-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
}