.jumbotron {
  height: 170px;
  margin-top: 50px;
  background-color: var(--color-secondary-variant-1)
}

.logo-jumbotron {
  width: 100px;
  height: 50px;
}

.logo-jumbotron-lg {
  margin-left: 15px;
  width: 75px;
  height: 50px;
}


.logo-jumbotron-sm {
  margin-left: 15px;
  width: 75px;
  height: 30px;
}

.jumbotron-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
}

.logo-brand {
  margin: 0px 20px 0px 20px;
  width: 100px;
  background-color: transparent;
  /* border: 2px solid white; */
  display: inline-block;
  height: 100%;
}

  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-secondary-variant-1); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-variant-3);
  }
