.join-us {
  height: 100%;
  background-color: var(--color-primary-variant-3);
}

.join-us-content {
  height: 200px;
}

.join-us-content h2{
  font-weight: 600;
}

.join-us-content p {
  font-size: 1rem;
  font-weight: 500;
  text-align: start;

  @media screen and (max-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 588px) {
    font-size: 0.85rem;
  }
}

.join-us-link {
  color: var(--color-secondary-variant-3);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
  }

  @media screen and (max-width: 588px) {
    font-size: 1rem;
  }

}

.join-us-link:hover {
  color: var(--color-black-text);
  letter-spacing: 3px;
  transition: 0.5s ease-out;
  text-decoration: underline;
}