.card-myShop-team-1 {
  height: 470px;
  background: linear-gradient(
    to top,
    rgb(233, 233, 233) 70%,
    rgb(233, 232, 232) 50%,
    rgb(152, 228, 228) 50%,
    rgb(152, 228, 228) 100%
  );
  width: 300px;
}

.card-myShop-team-2 {
  height: 470px;
  background: linear-gradient(
    to top,
    rgb(233, 233, 233) 70%,
    rgb(233, 232, 232) 50%,
    rgb(255,199,227) 50%,
    rgb(255,199,227) 100%
  );
  width: 300px;
}
.card-myShop-team-3 {
  height: 470px;
  background: linear-gradient(
    to top,
    rgb(233, 233, 233) 70%,
    rgb(233, 232, 232) 50%,
    rgb(254,216,174) 50%,
    rgb(254,216,174) 100%
  );
  width: 300px;
}
.card-myShop-team-4 {
  height: 470px;
  background: linear-gradient(
    to top,
    rgb(233, 233, 233) 70%,
    rgb(233, 232, 232) 50%,
    rgb(255,151,164) 50%,
    rgb(255,151,164) 100%
  );
  width: 300px;
}

.icon-img {
  display: flex;
  justify-content: center;
  margin: 90px 0px 0px 100px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: transparent;
}

.img-icons {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.social-media-link {
  text-decoration: none;
  color: var(--color-secondary-variant-1);
}

.social-media-link:hover {
  color: var(--color-secondary-variant-3);
  transition: 0.5s ease;
}