.brand-desc {
  font-size: 15px;
}

.ms-section {
  font-size: 15px;
}

.footer {
  background-color: var(--color-primary-variant-2);
}

.copyright {
  background-color: var(--color-secondary-variant-2);
  color: var(--color-white-text);
  font-size: 14px;
  letter-spacing: 1.2px;
}

.social-media {
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider {
  outline: 1px solid #414434!important;
}

.text-reset {
  text-decoration: none;
}

.title-content-footer:hover {
  color: var(--color-black-text);
  transition: 0.3s ease-in-out
}
.icons-social-media {
  color: var(--color-secondary-variant-1);
  margin-top: 20px;
  margin-bottom: 10px;
}

.icons-social-media:hover {
  color: var(--color-black-text);
  transition: 0.5s ease-in-out
}

