.profile-logo {
  width: 100%;
  height: 113px;
  margin-top: 5px;
  background-color: transparent;
  border-radius: 50%;
}

.avatar {
  width: 113px;
  height: 113px;
  border-radius: 50%;
}

.bg-myshop-white {
  background-color: var(--color-white-text);
}

.profile-name {
  font-size: 15px;
  margin-top: 35px;
}

.btn-link {
  margin: 0;
  height: 45px;
  color: var(--color-black-text);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-link:hover {
  color: var(--color-secondary-variant-1);
  text-decoration: none;
}

.btn-link:focus {
  color: var(--color-secondary-variant-3);
  background-color: var(--color-primary-variant-3);
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-link:active {
  color: var(--color-secondary-variant-3);
  background-color: var(--color-primary-variant-3);
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-link:target {
  color: var(--color-secondary-variant-3);
  background-color: var(--color-primary-variant-3);;
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-link-faq {
  height: 55px;
  color: var(--color-black-text);
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-link-faq:hover {
  color: var(--color-secondary-variant-1);
  text-decoration: none;
}

.btn-link-faq:focus {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-link-faq:active {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-link-faq:target {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-setting-profile-overview { 
  width: 100%;
  height: 55px;
  color: var(--color-black-text);
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-setting-profile-overview:hover {
  color: var(--color-secondary-variant-1);
  text-decoration: none;
}

.btn-setting-profile-overview:focus {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-setting-profile-overview:active {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-setting-profile-overview:target {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-left: 10px solid var(--color-secondary-variant-2)
}

.btn-logout {
  width: 100%;
  height: 55px;
  color: var(--color-black-text);
  font-size: 20px;
  text-decoration: none;
  background-color: var(--color-white-text);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.btn-logout:hover {
  color: var(--color-secondary-variant-1);
  text-decoration: none;
}

.tab-pane {
  min-height: 815px;
  background-color: var(--color-white-text);
}

.line-break {
  border-bottom: 1px solid var(--color-primary-variant-1);
}

.btn-nav {
  width: 100%;
  height: 55px;
  color: var(--color-black-text);
  font-size: 10px;
  text-decoration: var(--color-white-text);
  font-weight: 600;
  background-color: var(--color-white-text);
}

.btn-nav:hover {
  color: var(--color-secondary-variant-1);
  text-decoration: none;
}

.btn-nav:focus {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-bottom: 10px solid var(--color-secondary-variant-2)
}

.btn-nav:active {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-bottom: 10px solid var(--color-secondary-variant-2)
}

.btn-nav:target {
  color: var(--color-secondary-variant-1);
  background-color:  var(--color-primary-variant-1);;
  text-decoration: none;
  border-bottom: 10px solid var(--color-secondary-variant-2)
}
