.btn-link {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  
  @media screen and (max-width: 1800px) {
    font-size: 1rem;
    font-weight: 600;
  }
  
  @media screen and (max-width: 1400px) {
    font-size: 0.79rem;
    font-weight: 600;
  }
}

.btn-setting {
  width: 100%
}

.btn-nav{
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.btn-nav svg {
  margin-top: 5px;
}
.tab-pane {
  padding: 50px 0px 50px 0px;
  min-height: 43.5vh;
}

.inconvenience-message{
  font-size: 1.1rem;
  font-weight: 400;
  color: crimson;
  text-align: center;
  margin-top: 50px;
}