.btn-profile {
  outline: none;
  border: none;
  border-radius: 10 10 10 10; 
}

.btn-profile:hover {
  cursor: pointer;
  transition: 0.6s ease;
}

#dropdown-menu-css { 
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--color-primary-variant-2);
  border-radius: 5px;
  border: none;
  text-align: center;
}

.dropdown-item:hover {
  background-color: var(--color-primary-variant-3);
  transition: 0.3s ease;
}

.navbar {
  background-color: var(--color-primary-variant-2);
}

.btn-sign-in {
  border: none;
  color: var(--color-secondary-variant-1);
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  text-decoration: none;
}

.btn-sign-in:hover {
  color: var(--color-secondary-variant-3);
  transition: 0.4s ease-in-out;
  letter-spacing: 2px;
}